* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

img {
  width: 100%;
  max-width: 10rem;
  padding-bottom: 20px;
  transition: 0.5s;
}

.container-pokemons {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.container-card-pokemon {
  padding: 20px;
  height: 300px;
  border-radius: 10px;
  background-color: #ccc;
  cursor: pointer;
}

.container-card-pokemon img:hover {
  transform: scale(1.5);
}

p {
  padding: 2px;
  font-family: "Itim", serif;
  font-weight: 500;
  font-size: large;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
}

.input {
  font-size: 20px;
  padding: 3px;
  border-radius: 5px;
}

.btn-buscar {
  padding: 5px;
  font-size: 20px;
  background: rgb(34, 197, 94);
  border: none;
  border-radius: 5px;
}
